<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100;300;400;500;700;900&display=swap');

        :root {
            --color1: #0FC2C0;
            --color2: #0CABA8;
            --color3: #008F8C;
            --color4: #015958;
            --color5: #023535;
            --colorW: #FFFFFF;
            --colorB: #000000;
            --colorT: #3C999634;
            --colorR: #ff0000;
            --font1: 'Roboto';
            --font2: 'Agbalumo';
            --switch-bg-url: url(../image/switch-bg/moon-stars.svg);
        }

        .dark {
            --color1: #023535;
            --color2: #015958;
            --color3: #008F8C;
            --color4: #0CABA8;
            --color5: #0FC2C0;
            --colorW: #000000;
            --colorB: #FFFFFF;
            --colorT: #3C999634;
            --switch-bg-url: url(../image/switch-bg/sun.svg);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #switch{
            position: relative;
            width: 100px;
        }

        .dark #switch button {
            right: 12px;
            left: initial;
        }

        #switch button {
            width: 42px;
            height: 42px;
            border: 0;
            border-radius: 50%;
            background: white var(--switch-bg-url) no-repeat center;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1;
        }
        
        #switch span {
            display: block;
            width: 84px;
            height: 34px;
            background: var(--color1);
            border: 1px solid var(--color5);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 9999px;
        }

        header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: var(--color4);
            color: var(--colorW);
            font-family: sans-serif;
        }

        .links-pages {
            display: flex;
            gap: 30px;
        }

        .links-pages a {
            color: var(--colorW);
            text-decoration: none;
            font-weight: bold;
            font-family: sans-serif;
        }

        main {
            margin: 50px 0px;
        }

        .title {
            padding: 10px;
        }

        #extract {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .header-extract, .container-extract {
            display: flex;
            justify-content: space-around;
        }

        .header-extract {
            background-color: var(--color1);
            padding: 20px 0px;
        }

        .container-extract {
            background-color: var(--color3);
            padding: 20px 0px;
            color: var(--colorW);
            font-weight: bold;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <h3>Seja bem vindo, ~nome-empresa~</h3>
        <div class="links-pages">
            <a href="/">Home</a>
            <a href="#" style="text-decoration: underline;">Extrato</a>
        </div>
    </header>
    <main>
        <div class="title">
            <h1>Extrato Pagamentos: </h1>
        </div>
        <div id="extract">
            <div class="header-extract">
                <h4 id="date-extract">Data</h4>
                <h4 id="order-extract">Pedido</h4>
                <h4 id="descripiton-extract">Descricao</h4>
                <h4 id="value-extract">Valor</h4>
                <h4 id="situation-extract">Situacao</h4>
            </div>
            <div class="container-extract">
                <p>25/09/2024</p>
                <p>20370</p>
                <p>Bolo - Chocolate - 4x</p>
                <p>50,00</p>
                <p>PAGO</p>
            </div>
        </div>
    </main>
    <script>
        window.onload = fetchProtectedData("Acesso expirado, faca login novamete!");
    
        async function fetchProtectedData(frase) {
            const token = localStorage.getItem('token');
        
            try {
                const response = await fetch('http://localhost:3001/validar', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    },
                });
                const data = await response.json();
                if(!response.ok) {
                    alert(frase);
                    localStorage.removeItem('token');
                    window.location.href = '/login'; 
                } else {
                    // alert('bem vindo!');
                }
            } catch(error) {
                alert('Erro, sistema fora do ar!');
            }
        
        }
    </script>
</body>
</html>